.character-searchbar {
  display: flex;
  flex-direction: row-reverse;
}

.character-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.character-container-top {
  width: 100%;
  height: 20rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;

  /*border: 1px solid red;*/
}

.character-container-bottom {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding-left: 2rem;
  padding-right: 2rem;
  margin-bottom: 0.5rem;
  border-radius: 0.5rem;
}

.character-assault-box {
  width: 33%;

  display: flex;
}

.assault-center {
  justify-content: center;
}

.character-assault-text {
  font-size: 1.5rem;
  color: rgb(254, 250, 206);
}

.character-container-sub {
  flex: 1;
  display: flex;
  flex-direction: column;

  height: 100%;
  width: 100%;
  justify-content: space-between;
  align-items: center;

  padding: 0.5rem;
}

.character-container-sub-sub {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.character-img {
  width: 12rem;
  height: 12rem;
}

.character-text-box {
  margin-top: 0.1rem;
  margin-bottom: 0.1rem;
  padding-left: 0.7rem;
  padding-right: 0.7rem;
  width: 100%;

  border-radius: 1rem;
  max-width: 10rem;

  display: flex;
  flex-direction: row;
}

.ability-legendary {
  background-color: rgb(162, 192, 47);
}

.ability-unique {
  background-color: rgb(215, 149, 44);
}

.ability-epic {
  background-color: rgb(112, 92, 201);
}

.ability-rare {
  background-color: rgb(87, 172, 199);
}

.text-center {
  justify-content: center;
}

.text-space-between {
  justify-content: space-between;
}

.level-text-box {
  align-items: center;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.text-color-black {
  color: black;
}

.text-color-white {
  color: white;
}

.text-color-assault {
  color: rgb(240, 244, 225);
}

.background-white {
  background-color: white;
}

.background-point-main {
  background-color: rgb(100, 190, 200);
}

.background-point-sub {
  background-color: rgb(61, 84, 105);
}

.background-main {
  background-color: rgb(154, 162, 170);
}

.background-sub {
  background-color: rgb(200, 200, 200);
}

.background-body {
  background-color: rgb(39, 44, 51);
}

.preset-button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.preset-button {
  width: 32%;
  height: 3rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  border: none;

  font-size: 1.2rem;
}

.preset-button-left {
  margin-right: 0.5rem;
}

.preset-button-center {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.preset-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.5rem;
}

.selected-preset {
  font-weight: bolder;
}

.preset-item-container {
  width: 31%;
  border: 1px solid blue;
}

.preset-stat-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;

  border: 1px solid green;
}

.preset-stat-specific-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0.5rem;
  width: 100%;
  border: 1px red solid;

  border-radius: 0.5rem;
}
