<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>메이플 - 나생문</title>
</head>
<body class="container">
<div class="justify-content-center align-content-center w-100 h-100 border border-dark border-4">
    <form th:action method="post" class="flex-column" th:object="${characterDto}">
        <div>
            <label for="name">캐릭터 이름</label>
            <input id="name" type="text" placeholder="캐릭터 이름" th:field="*{characterName}" required>
            <input id="date" type="date" th:max="${maxDate}" min="2024-01-18" th:field="*{date}" th:value="${maxDate}" required>
            <label for="maximumAssaultDate">최근 최대 전투력 찾기</label>
            <input id="maximumAssaultDate" type="checkbox" th:field="*{maximumAssaultDate}"/>
            <button type="submit">검색</button>
        </div>
        <span th:errors="*{characterName}"></span>
        <span th:errors="*{date}"></span>
        <span th:each="err : ${#fields.globalErrors()}" th:text="${err}"></span>
    </form>
</div>
<div>
    <span>Data based on NEXON Open API</span>
</div>
</body>
</html>